<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <div id="left-half">
        <div id="section1" style="z-index: 1; position: absolute; top: 0px; width: 633px; height: 245px;">
            <table class="title" style="position: absolute; top: 18px; left: 10px;">
                <tbody>
                <tr>
                    <td style="font-size:33px;">Get Any Signature or Classic Drink</td>
                </tr>
                <tr>
                    <td style="font-size:50px; margin: 0; line-height: 100%;">Hot, Iced or Frozen</td>
                </tr>
                </tbody>
            </table>

        <div id="section2" style="z-index: 2; position: absolute; top: 245px; width: 633px; height: 187px;">
            <table class="drinks-menu">
                <tbody>
                <tr>
                    <td style="width: 144px">Vanilla Hazelnut Latte<img
                            src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png"
                            style="padding:3px 2px 0; height: 16px;"/></td>
                    <td id="white-choc-mocha-td" style="width: 150px">White Chocolate Mocha</td>
                    <td style="width: 150px">Caramel Macchiato</td>
                    <td style="width: 138px">Vanilla Cream<br/>
                        Latte
                    </td>
                </tr>
                <tr>
                    <td class="drinks-price">3.89 / 4.29</td>
                    <td class="drinks-price">3.89 / 4.29</td>
                    <td class="drinks-price">3.89 / 4.29</td>
                    <td class="drinks-price">3.89 / 4.29</td>
                </tr>
                </tbody>
            </table>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Latte_2014.png';"                src="Latte_2014.png"                      style="position: absolute; width: 144px; left: 22px; top: 65px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Iced_Mocha_2014.png';"           src="Iced_Mocha_2014.png" id="img2"                       style="position: absolute; width: 150px; left: 175px; top: 70px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Chai_Tea_Latte_2014.png';"       src="Chai_Tea_Latte_2014.png"                         style="position: absolute; width: 150px; left: 335px; top: 65px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Cappuccino_2014.png';"           src="Cappuccino_2014.png"                      style="position: absolute; width: 138px; left: 493px; top: 65px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBStetson/beveragebg2.png';"           src="beveragebg2.png"                                 />
        </div>

        <div id="section3" style="z-index: 3; position: absolute; top: 432px; width: 633px; height: 186px;">
            <table class="drinks-menu" style="margin-top: 1px">
                <tbody>
                <tr>
                    <td style="width: 144px">Latte</td>
                    <td id="mocha-td" style="width: 150px">Mocha</td>
                    <td style="width: 150px">Chai Tea Latte</td>
                    <td style="width: 138px">Cappuccino</td>
                </tr>
                <tr>
                    <td class="drinks-price">3.49 / 3.99</td>
                    <td class="drinks-price">3.79 / 4.09</td>
                    <td class="drinks-price">3.49 / 3.79</td>
                    <td class="drinks-price">3.49 / 3.99</td>
                </tr>
                </tbody>
            </table>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBStetson/Coffee_2014.png';"             src="Coffee_2014.png"                             style="position: absolute; width: 144px; left: 22px; top: 66px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png"     id="img3"  style="position: absolute; width: 150px; left: 177px; top: 60px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Hot_Tea_2014.png';"                src="Hot_Tea_2014.png"                                style="position: absolute; width: 150px; left: 335px; top: 66px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBCLT/Iced_Coffee_2014.png';"            src="Iced_Coffee_2014.png"                                 style="position: absolute; width: 138px; left: 493px; top: 66px;"/>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBStetson/beveragebg3.png';"             src="beveragebg3.png"                                 /></div>

        <div id="section4" style="z-index: 4; position: absolute; top: 618px; width: 633px; height: 150px;">
            <table class="drinks-menu">
                <tbody>
                <tr>
                    <td style="width: 144px">Fresh-Brewed Coffee</td>
                    <td id="hot-choc-td" style="width: 150px">Hot<br/>
                        Chocolate
                    </td>
                    <td style="width: 150px">Premium<br/>
                        Tea
                    </td>
                    <td style="width: 138px">Iced<br/>
                        Coffee
                    </td>
                </tr>
                <tr>
                    <td class="drinks-price">1.99 / 2.29</td>
                    <td class="drinks-price">2.89 / 3.09</td>
                    <td class="drinks-price">1.99 / 2.29</td>
                    <td class="drinks-price">1.99 / 2.29</td>
                </tr>
                </tbody>
            </table>
            <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBBStetson/beveragebg4.png';" src="beveragebg4.png" /></div>

        <table class="drinks-extras">
            <tbody>
            <tr>
                <td class="drinks-extras-name">Iced Tea</td>
                <td class="drinks-extras-price">1.99 / 2.09</td>
                <td style="width: 45px">&nbsp;</td>
                <td class="drinks-extras-name">Add Espresso Shot</td>
                <td class="drinks-extras-price">1.69</td>
            </tr>
            <tr>
                <td class="drinks-extras-name">Fountain Drinks</td>
                <td class="drinks-extras-price">2.19 / 2.39</td>
                <td>&nbsp;</td>
                <td class="drinks-extras-name">Add Syrup Shot</td>
                <td class="drinks-extras-price">.39</td>
            </tr>
            </tbody>
        </table>

        <table class="icon-indicators" style="position: absolute; width: 434px; bottom: 0px; left: 20px; z-index: 15;">
            <tbody>
            <tr>
                <td style="line-height: 14px">
                    <img onerror="this.src='http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png';" src="EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 10px;"/>
                    Contains nuts
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="right-half">
        <div class="div" id="eggwhites" style="position: absolute; height: 120px; top: 150px; left: 14px; ">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 410px;">
                <tbody>
                <tr class="header2">
                    <td colspan="2" style="line-height:1; width:266px;"><strong>Thintastic Eggwhites</strong></td>
                </tr>
                <tr>
                    <td id="asp-mush-swiss-td">Asparagus, Mushroom &amp; Swiss
                        <img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 16px;"/>

                    </td>
                    <td class="right-price">4.79</td>
                </tr>
                <tr>
                    <td id="yogurt-parfait-td">Low-fat Yogurt Parfait<img
                            src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png"
                            style="padding:3px 2px 0; height: 16px;"/></td>
                    <td class="right-price">2.79</td>
                </tr>
                <tr>
                    <td class="cal-yellow">170&nbsp;cal</td>
                </tr>
                <tr>
                    <td>Greek Yogurt Parfait<img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png"
                                                 style="padding:3px 2px 0; height: 16px;"/></td>
                    <td class="right-price">2.79</td>
                </tr>
                <tr>
                    <td class="cal-yellow">270&nbsp;cal</td>
                </tr>
                </tbody>
            </table>
        </div>
        <img id="asp-mush-swiss" src="http://vi-digital.com/lib/pjjdent/EBBStetson/AspMushSwiss_2014.png"
             style="left: 430px; height: 200px; position: absolute; display: none;"/>

        <img id="buffalo-chicken"
                                                                                           src="http://vi-digital.com/lib/pjjdent/EBBStetson/BuffaloChickSandThin_2014.png"
                                                                                           style="left: 430px; position: absolute; display: none;"/>

        <img
            id="strawberry-smoothie" src="http://vi-digital.com/lib/pjjdent/EBBStetson/StrawBan_Smoothie_Cropped_4.png"
            style="left: 430px; position: absolute; display: none;"/><img id="yogurt-parfait"
                                                                          src="http://vi-digital.com/lib/pjjdent/EBBCLT/Yogurt_Parfait_2014_0.png"
                                                                          style="left: 430px; position: absolute; display: none;"/>    <img
            id="sw-turkey-sausage" src="http://vi-digital.com/lib/pjjdent/EBBStetson/SWTurkSausageBagelThin_2014.png"
            style="position:absolute; left: 430px; display: none;"/> <img id="club"
                                                                          src="http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png"
                                                                          style="left: 400px; height: 190px; position: absolute; display: none;"/>
    </div>
