<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <div id="emptydiv">&nbsp;</div>
    <!--video autoplay="" loop="" style="position:absolute; top:0; left:-480px; width:100%; height:100%;"><source src="salsaritasBfast1A.ogv" /> <source src="http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/salsaritasBfast1A.ogv" /></video-->
    <style type="text/css">@font-face {font-family: "Veneer W01 Two";src: url('http://vi-digital.com/lib/fonts/VeneerTwo.otf') format("opentype");}
    @font-face {font-family: "Badhouse Bold";src: url('http://vi-digital.com/lib/fonts/BadhouseBold.ttf') format("truetype");}
    body, html {
        color:#000;
        padding:0; margin:0;
    }
    #background{
        background-image:url('Bfast1BG.png'), url('http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Bfast1BG.png');
        background-repeat:no-repeat;
        background-position:right center;
        height:1080px; width:100%;position: absolute;  top:0px;
    }
    td{ font-size:46px; font-family: "Badhouse Bold",Verdana,sans-serif;}
    td.table2 {font-size: 32px;}
    p{margin:0;padding:0;}
    #divider{ position: absolute; background-color: black; height: 1080px; width: 25px; top: 0; left: 935px;  }
    .logo,.header-1,.header-2,.header-3,.table1,.table-choices,.table3,#emptydiv {position: absolute;}
    .logo{ top: 20px;  left: 1610px; max-height: auto; max-width:240px;
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(14deg);
        -ms-transform: rotate(14deg);
        transform: rotate(14deg);}
    .header-1 { top: 40px;  left: 975px; max-height: auto; max-width:450px;}
    .header-2 { top: 625px; left: 960px; max-width: 650px; max-height: auto;}
    .table1   { top: 202px; left: 975px; width: 903px;}
    .table1 > thead tr th{vertical-align: bottom;text-align: center;}
    .table1 > thead tr th:nth-child(1) {width:50%;}
    .table1 > thead tr th:nth-child(2) {width:5%; }
    .table1 > thead tr th:nth-child(3) {width:15%;}
    .table1 > thead tr th:nth-child(4) {width:10%;}
    .table1 > thead tr th:nth-child(5) {width:5%; }
    .table1 > thead tr th:nth-child(6) {width:15%;}
    .table1 > tbody tr td:nth-child(1) {}
    .table1 > tbody tr td:nth-child(2) {text-align:right;}
    .table1 > tbody tr td:nth-child(3) {text-align:right; padding-right: 20px;}
    .table1 > tbody tr td:nth-child(4) {}
    .table1 > tbody tr td:nth-child(5) {text-align:right;}
    .table1 > tbody tr td:nth-child(6) {text-align:right; padding-right: 20px;}

    .table-choices              { top: 758px; left: 983px; width: 659px; height: 281px;line-height: 44px; }
    .table-choices td           { font-size: 47px; font-family: Arial,Verdana,sans-serif;}
    .table-choices .choice      { font-size: 47px; font-family: Arial,Verdana,sans-serif;}
    .table-choices .subchoice   { font-size: 47px; font-family: Arial,Verdana,sans-serif;}
    .table-choices .subsubchoice{ font-size: 47px; font-family: Arial,Verdana,sans-serif;}

    .font1-xs   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 28px;}
    .font1-sm   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 38px;line-height: 33px;}
    .font1-md   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 52px;line-height: 46px;}
    .font1-lg   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 64px;line-height: 64px;}
    .font2 { font-family: arial,tahoma,sans-serif; }
    .font-36{font-size:36px;}

    </style>
    <div contenteditable="false" id="background">&nbsp;</div>

    <div id="divider">&nbsp;</div>
    <img class="logo" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/SAL.LogoGreen.png';" src="SAL.LogoGreen.png" /> <img class="header-1" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Breakfast.png';" src="Breakfast.png" /> <img class="header-2" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/ChoiceBfast.png';" src="ChoiceBfast.png" />
    <table class="table1">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="font1-sm">&nbsp;</th>
                <th class="font1-sm">regular</th>
                <th></th>
                <th class="font1-sm">&nbsp;</th>
                <th class="font1-sm">small</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font1-lg">BURRITOS</td>
                <td>&nbsp;</td>
                <td>$6.79</td>
                <td></td>
                <td>&nbsp;</td>
                <td>$7.79</td>
            </tr>
            <tr>
                <td class="font1-lg">TACOS</td>
                <td class="font-36">(2)</td>
                <td>$7.79</td>
                <td></td>
                <td class="font-36">(1)</td>
                <td>$3.89</td>
            </tr>
            <tr>
                <td colspan="6" style="line-height: 25px;">&nbsp;</td>
            </tr>
            <tr>
                <td class="font1-md">BOWLS</td>
                <td>&nbsp;</td>
                <td>$9.09</td>
                <td></td>
                <td>&nbsp;</td>
                <td>$7.79</td>
            </tr>
            <tr>
                <td class="font1-md">QUESADILLAS</td>
                <td>&nbsp;</td>
                <td>$7.79</td>
                <td></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table class="table-choices">
        <tbody>
        <tr>
            <td class="choice">&bull; Grilled Chicken (All Natural)</td>
        </tr>
        <tr>
            <td class="subchoice">&bull; chicken &bull; grilled sausage &bull; bacon</td>
        </tr>
        <tr>
            <td style="line-height: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="subsubchoice">*just veggies for 50&cent; less</td>
        </tr>
        <tr>
            <td class="subsubchoice">*Extra Meat $1.49</td>
        </tr>
        </tbody>
    </table>
    <!-- end fix --></div>
