<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <div id="emptydiv">&nbsp;</div>
    <!--video autoplay="" loop="" style="position:absolute; top:0; left:-480px; width:100%; height:100%;">
    <source src="salsaritasBfast2_A.ogv">
    <source src="http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/salsaritasBfast2_A.ogv"></video-->
    <style type="text/css">@font-face {
        font-family: "Veneer W01 Two";
        src: url('http://vi-digital.com/lib/fonts/VeneerTwo.otf') format("opentype");
    }@font-face {
        font-family: "Badhouse Bold";
        src: url('http://vi-digital.com/lib/fonts/BadhouseBold.ttf') format("truetype");
    }body, html {
        background-color:#ffffff; color:#000;
        padding:0; margin:0;
    }
    #background{
        background-image:url('Bfast2BG.png'), url('http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Bfast2BG.png');
        background-repeat:no-repeat;
        background-position:right center;
        height:1080px; width:100%;position: absolute;
    }
    td {font-size:46px; font-family: "Badhouse Bold",Arial,Verdana,sans-serif;}
    #divider{ position: absolute; background-color: black; height: 1080px; width: 25px; top: 0; left: 935px;  }
    p{margin:0;padding:0;}.logo,.header-1,.header-choice,.header-combo,.table1,.table-choices,.table-combos,#emptydiv{position:absolute;}
    .logo{ top: 20px;  left: 1610px; max-height: auto; max-width:240px;
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(14deg);
        -ms-transform: rotate(14deg);
        transform: rotate(14deg);}
    .header-choice     { top: 666px; left: 960px; max-width: 500px; max-height: auto;}
    .header-combo { top: 660px; left: 1600px; max-width: 260px; max-height: auto;}

    .table1 { top: 185px; left: 980px; width: 903px; }
    .table1 > thead tr th{vertical-align: bottom;text-align: center;}
    .table1 > thead tr th:nth-child(1) {width:50%;}
    .table1 > thead tr th:nth-child(2) {width:5%; }
    .table1 > thead tr th:nth-child(3) {width:15%;}
    .table1 > thead tr th:nth-child(4) {width:10%;}
    .table1 > thead tr th:nth-child(5) {width:5%; }
    .table1 > thead tr th:nth-child(6) {width:15%;}
    .table1 > tbody tr td:nth-child(1) {}
    .table1 > tbody tr td:nth-child(2) {text-align:right;}
    .table1 > tbody tr td:nth-child(3) {text-align:right; padding-right: 20px;}
    .table1 > tbody tr td:nth-child(4) {}
    .table1 > tbody tr td:nth-child(5) {text-align:right;}
    .table1 > tbody tr td:nth-child(6) {text-align:right; padding-right: 20px;}

    .table-choices   { left: 980px; width: 550px; top: 760px; height: 287px;  line-height: 47px; }
    .table-choices td           { font-size: 47px; font-family: "Veneer W01 Two",Arial,Verdana,sans-serif;}
    .table-choices .choice      { font-size: 47px; font-family: "Veneer W01 Two",Arial,Verdana,sans-serif;}
    .table-choices .subchoice   { font-size: 47px; font-family: "Veneer W01 Two",Arial,Verdana,sans-serif;}
    .table-choices .subsubchoice{ font-size: 47px; font-family: "Veneer W01 Two",Arial,Verdana,sans-serif;}
    .table-combos  {  top: 745px; left: 1549px; width: 337px; height: 271px; line-height: 47px; }

    .font1-xs   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 30px;line-height: 30px;}
    .font1-sm   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 42px;line-height: 42px;}
    .font1-md   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 48px;line-height: 46px;}
    .font1-lg   { font-family: "Veneer W01 Two",tahoma,sans-serif; font-size: 62px;line-height: 60px;}
    .font2 { font-family: futura,helvetica,sans-serif; }
    .center {text-align: center;}
    .right {text-align:right;}

    </style>
    <div contenteditable="false" id="background">&nbsp;</div>
    <div id="divider">&nbsp;</div>
    <img class="logo" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/SAL.LogoGreen.png';" src="SAL.LogoGreen.png" /> <img class="header-choice" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/ChoiceBfast.png';" src="ChoiceBfast.png" /> <img class="header-combo" onerror="this.src='http://vi-digital.com/lib/vicorporatemenus/Corporate---Salsaritas/Combo.png';" src="Combo.png" />
    <table class="table1">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="font1-sm">&nbsp;</th>
            <th class="font1-sm">regular</th>
            <th></th>
            <th class="font1-sm">&nbsp;</th>
            <th class="font1-sm">small</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="font1-lg">BURRITOS</td>
            <td>&nbsp;</td>
            <td>$6.79</td>
            <td></td>
            <td>&nbsp;</td>
            <td>$7.79</td>
        </tr>
        <tr>
            <td class="font1-lg">TACOS</td>
            <td class="font-36">(2)</td>
            <td>$7.79</td>
            <td></td>
            <td class="font-36">(1)</td>
            <td>$3.89</td>
        </tr>
        <tr>
            <td colspan="6" style="line-height: 25px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="font1-md">BOWLS</td>
            <td>&nbsp;</td>
            <td>$9.09</td>
            <td></td>
            <td>&nbsp;</td>
            <td>$7.79</td>
        </tr>
        <tr>
            <td class="font1-md">QUESADILLAS</td>
            <td>&nbsp;</td>
            <td>$7.79</td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <table class="table-choices">
        <tbody>
        <tr>
            <td class="choice" colspan="1">&bull; Grilled Chicken (All Natural)</td>
        </tr>
        <tr>
            <td class="subchoice">&bull; Ground Beef &bull; Grilled Steak</td>
        </tr>
        <tr>
            <td class="subchoice">&bull; Sauted Onions</td>
        </tr>
        <tr>
            <td class="subsubchoice">&nbsp;</td>
        </tr>
        <tr>
            <td class="subsubchoice">*Extra Meat $1.49</td>
        </tr>
        </tbody>
    </table>

    <table class="table-combos">
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td class="font1-xs center">&nbsp;</td>
        </tr>
        <tr>
            <td class="font1-sm">CHIPS &amp; SALSA</td>
            <td class="right">$3.09</td>
        </tr>
        <tr>
            <td class="font1-sm">CHIPS &amp; QUESO</td>
            <td class="right">$3.69</td>
        </tr>
        <tr>
            <td class="font1-sm">CHIPS &amp; GUAC</td>
            <td class="right">$3.59</td>
        </tr>
        <tr>
            <td class="font1-sm">RICE &amp; BEANS</td>
            <td class="right">$2.69</td>
        </tr>
        </tbody>
    </table>
    <!-- end fix --></div>
