/*body{box-sizing: border-box;}*/
@import url(http://fonts.googleapis.com/css?family=Nova+Square);
* {font-family:"Lucida Console", Monaco, monospace !important;}
.f-nova {font-family: 'Nova Square', cursive !important;}
.f-medium{font-size:30px;}
body{
    background: black url("../img/space.jpg") no-repeat fixed left center !important;
    background-size: cover;
}
.no-break{white-space: nowrap}
#inputarea{
    cursor-color:red;
    margin:0;
    width:100%;
    color:#fb0;
    background-color: #66f;
    border: 3px solid #00e;
    border-radius:8px;
}
#outputarea{color:fff;}
input#convertbutton {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 5px auto;
    width: 100%;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
input#convertbutton:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

